<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.certify.snap">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- Push service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!--ContentProvide -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.certify.snap" />

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.certify.snap"
        android:protectionLevel="signature" />

    <application
        android:name="com.certify.snap.common.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.certify.snap.activity.NFCCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.certify.snap.activity.RecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.certify.snap.activity.RgbCameraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.IrCameraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.ParameterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ThermalSetting"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ScanViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.certify.snap.activity.InitializationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.ManagementActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.certify.snap.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.certify.snap.service.GuideService" />
        <service android:name="com.certify.snap.service.UpdateService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.certify.snap.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.certify.snap.service.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.certify.snap.service.MyPushMessageReceiver">
            <intent-filter>

                <!-- push -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- bind,unbind,fetch,delete -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>