<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.certify.snap">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- Push service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!--ContentProvide -->
    <!--<uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.certify.snap" />-->

<!--    <permission-->
<!--        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.certify.snap"-->
<!--        android:protectionLevel="signature" />-->

    <application
        android:name="com.certify.snap.common.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.certify.snap.activity.NFCCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.certify.snap.activity.RecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.certify.snap.activity.RgbCameraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.IrCameraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.ParameterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ThermalSetting"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ConfirmationScreenActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ConfirmationViewSetting"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ScanViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TemperatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideViewSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRViewSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.certify.snap.activity.InitializationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.certify.snap.activity.ManagementActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.certify.snap.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.certify.snap.service.GuideService" />
        <service android:name="com.certify.snap.service.UpdateService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.certify.snap.service.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name = ".service.DeviceHealthService" android:stopWithTask="false" />
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name="com.certify.snap.qrscan.LivePreviewActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica" />
    </application>

</manifest>