<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.certify.snap">


    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- Push service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".common.Application"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".activity.GuideSettingsActivity"></activity>
        <activity android:name=".activity.PrinterUsbSettingsActivity" />
        <activity android:name=".activity.TemperatureCalibrationGuideActivity" />
        <activity android:name=".activity.PrinterSettingsActivity" />
        <activity android:name=".activity.PrinterWifiSettingsActivity" />
        <activity android:name=".activity.PrinterBTSettingsActivity" />
        <activity android:name=".activity.PrinterWifiBTSettingsActivity" />
        <activity android:name=".activity.SelectDeviceActivity" />
        <activity android:name=".activity.AudioVisualSettingsActivity" />
        <activity
            android:name=".activity.OfflineRecordsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IrCameraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ProIrCameraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.HomeSettingsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ConfirmationSettingsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.QrCodeScannerActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScanSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TemperatureSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TemperatureCalibrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IdentificationSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccessControlSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberManagementActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.HomeActivity"
            android:launchMode="singleTop">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.ConnectivityStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TouchlessSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QRCodeResultActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.GuideService" />
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".service.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.ResetOfflineDataReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.DeviceHealthService"
            android:stopWithTask="false" />
        <service
            android:name=".service.MemberSyncService"
            android:stopWithTask="false" />
        <service
            android:name=".service.OfflineRecordSyncService"
            android:stopWithTask="false" />
        <service
            android:name=".service.AccessTokenJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".service.HIDService"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica" />

        <service
            android:name=".service.DeviceHealthService"
            android:stopWithTask="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/final_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name="com.certify.fcm.FireBaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".bluetooth.bleCommunication.BluetoothLeService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
    </application>

</manifest>